*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Register page Start*/
.register-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    border: none;
    background: #f8fdf0 ;

}


#formGroupExampleInput{
    border-radius:1px;
}

.form-control:focus{
    box-shadow: none;
    border:2px solid #59ed77;
    

}
.account-button .btn{
    background: #59ed77;
    border:1px solid #59ed77;

}

/* Register page End*/