*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login page Start*/

.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    border: none;
    background: #f8fdf0 ;

}

.form-control:focus{
    box-shadow: none;
    border:2px solid #59ed77;
}

.login-button .btn{
    background: #59ed77;
    border:1px solid #59ed77;

}

.account-button .btn{
    background: transparent;
    color: #0b1402;
    border:1px solid #59ed77;


}

.account-button .btn:hover{
    background: #59ed77;
    color: #FFFFFF;
   

}

/* Login page Start*/